* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
pre {
    position: relative;
    font-weight: bold;
    font-size: 15px;
    color: black;
}